body {
    background-color   : paleturquoise;
    background-image   : radial-gradient(#f5fffa 12%, transparent 25%),
    radial-gradient(#f5fffa 12%, transparent 25%);
    background-position: 0 0, 50px 50px;
    background-size    : 100px 100px;
}
