.heroImgSection {
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 40%, paleturquoise 96%), url("../images/title-back.png");
    text-align: center;
    height: 36rem;
    line-height: 36rem;
}
.websiteTitle {
    color: white;
    font-size: 64px;
    font-family: 'M PLUS 1p', sans-serif;
}
.navBarSection {
    position: relative;
    top: -40px;
}
.indexContentsContainer {
    max-width: 1000px;
    margin: 2rem auto;
    background-color: #FFFFFF;
    padding: 24px;
    box-shadow: 0 0 10px 4px #D3D3D3;
}
.indexContentsContainer h2 {
    text-align: center;
    background-color: #fff799;
    padding: 1rem;
    margin-bottom: 2rem;
}
.siteDescription {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
}
.latestPostContainer {
    margin-bottom: 2rem;
}
.latestPostContainer a {
    color: #2D2D2D;
    text-decoration: none;
}
.articleCardItem {
    display: grid;
    /*grid-template-columns: 300px 1fr;*/
    margin-bottom: 1rem;
    border: 1px solid #D3D3D3;
    /*border-radius: 1em 1em;*/
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.articleCardItem:hover {
    background-color: #ffead6;
}
.thumbnailItem {
    grid-column: 1 / 2;
    margin: 10px;
    border: 4px solid white;
}
.textItem {
    grid-column: 2 / 3;
    padding: 10px;
}
.textItem h3 {
    font-size: 26px;
    border-bottom: solid 1px gray;
    margin-bottom: 10px;
}
.nextArticleText {
    text-align: right;
}
.nextArticleText {
    font-size: 14px;
    text-decoration: underline;
}
.morePostsButton {
    text-align: center;
    padding: 8px;
    background-color: #6c3524;
    transition: transform 0.2s ease 0s;
    color: #FFFFFF;
    text-decoration: underline;
}
.morePostsButton:hover {
    transform: translate(0, -10%);
}
