.titleSection {
    color: white;
    max-width: 1200px;
    height: 260px;
    background-image: url("../images/title-back-img.png");
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*line-height: 260px;*/
}
.contentsContainer {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    column-gap: 16px;
    row-gap: 2em;
}

.contentsContainer a {
    text-decoration: none;
    color: #2D2D2D;
}

.tagTable {
    display: flex;
    max-width: 1152px;
    margin: 0 auto 2rem;
    padding-left: 1rem;
}
.tag {
    color: #FFFFFF;
    background: #18A0FB;
    padding: 4px 1rem;
    margin-right: 1rem;
    border-radius: 12px;
}
.tagItem {
    color: #18A0FB;
    background: #FFFFFF;
    border: 1px solid #18A0FB;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 4px 10px;
    margin-left: 4px;
    margin-right: 4px;
}
.articleCardContents {
    box-shadow: 0 0 8px gray;
    background-color: #FFFFFF;
}

.textArea {
    padding: 1rem 10px;
}
.cardTitle {
    border-bottom: 1px solid #4D4D4D;
}
.cardText {
    margin-top: 1rem;
    color: #333333;
}
.title {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'M PLUS 1p', sans-serif;
}
.thumbnailImg {
    transition: all 0.2s ease-in;
}
.articleCardContents:hover .thumbnailImg {
    transform: scale(1.2);
    opacity: 0.4;
}
.thumbnailBox {
    position: relative;
    overflow: hidden;
}
.cardDate {
    position: absolute;
    padding: 8px;
    top: 0;
    left: 0;
    color: #FFFFFF;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.articleCardContents:hover .cardDate {
    opacity: 1;
}
.articleCardContents:hover .thumbnailBox {
    background-color: #000;
}

