.navBarSection {
    position: relative;
    top: -40px;
}
.titleSection {
    color: white;
    max-width: 1200px;
    height: 260px;
    background-image: url("../images/title-back-img.png");
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*line-height: 260px;*/
}
.contentsContainer {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-auto-rows: minmax(200px, auto);
    column-gap: 16px;
    row-gap: 2em;
}
.tagTable {
    display: flex;
    max-width: 1152px;
    margin: 0 auto 2rem;
    padding-left: 1rem;
}
.tag {
    color: #FFFFFF;
    background: #18A0FB;
    padding: 4px 1rem;
    margin-right: 1rem;
    border-radius: 12px;
}
.tagItem {
    color: #18A0FB;
    background: #FFFFFF;
    border: 1px solid #18A0FB;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 4px 10px;
    margin-left: 4px;
    margin-right: 4px;
}
.articleCardContents {
    background-color: white;
    box-shadow: 0 0 8px gray;
}
.textArea {
    padding: 1rem 10px;
}
.thumbnail {
    width: 100%;
}
.cardTitle {
    border-bottom: 1px solid #4D4D4D;
}
.cardText {
    margin-top: 1rem;
    color: #333333;
}
.title {
    padding-top: 100px;
    padding-bottom: 100px;
}
