.navBarContainer {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.navBarContainer a {
    text-decoration: none;
    color: #2D2D2D;
}

.navItem {
    width: 12rem;
    height: 5rem;
    text-align: center;
    background-color: white;
    border-left: 1px solid #CCCCCC;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
.navItem:hover {
    background-color: #58B4AE;
    color: white;
}
.titleText {
    margin-top: 1rem;
    font-size: 18px;
}
.subTitleText {
    margin-top: 2px;
    font-size: 14px;
}
.imgItem {
    width: 12rem;
    height: 5rem;
    text-align: center;
    background-color: white;
}
