.LinksContent {
    display: flex;
    justify-content: center;
}
.footerLink {
    width: 12rem;
}
.borderLineLeft {
    border-left: 1px solid white;
}
.borderLineRight {
    border-right: 1px solid white;
}
.iconContents {
    padding-top: 4rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
}
.iconItem {
    margin-left: 3rem;
    margin-right: 3rem;
}
footer {
    color: white;
    background-color: #222222;
    text-align: center;
}
.footerContainer {
    max-width: 1200px;
    height: 100%;
    background-color: #222222;
    margin-left: auto;
    margin-right: auto;
}
.copyrightContainer {
    margin-top: 2rem;
    padding-bottom: 1rem;
}
